@import "../../../breakpoints.scss";

.profileContainer{
    // height: 100vh;
    .profileWrapper{
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        // margin-top: 20px;
        border-radius: 10px;
        margin: 30px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        
        @include media('>phone', '<=mobile'){
            margin: 10px;
    
        }
        @include media('>smphone', '<=phone'){
            margin: 10px;
        }
        .profileTop{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;

            @include media('>phone', '<=mobile'){
                padding: 10px;
        
            }
            @include media('>smphone', '<=phone'){
                padding: 10px;
            }
        }

        .profileBottom{
            padding: 10px;

            display: flex;
            justify-content: space-between;

            @include media('>phone', '<=mobile'){
                flex-direction: column;
                gap: 20px;
        
            }
            @include media('>smphone', '<=phone'){
                flex-direction: column;
                gap: 20px;
            }
            .heading{
                display: flex;
                justify-content: space-between;

                h3{
                    font-size: 20px;
                    font-weight: 600;
                    color: var(--hover-color);

                    @include media('>phone', '<=mobile'){
                        font-size: 16px;
                
                    }
                    @include media('>smphone', '<=phone'){
                        font-size: 16px;
                    }
                }

                .addressBtns{
                    display: flex;
                    gap: 10px;
                }

                button{
                    border: 1px solid var(--hover-color);
                    background-color: transparent;
                    padding: 5px 15px;
                    border-radius: 10px;
                    color: var(--hover-color);
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover{
                        background-color: var(--hover-color);
                        color: white;
                        // border: none;
                    }
                }
                .addNew{
                    &:hover{
                        background-color: green;
                        color: white;
                        border: 1px solid green;
                    }
                }
            }
            .headingHr{
                margin: 10px 0px;
            }
            .profileBottomLeft{
                flex: 8;
                padding: 10px;
                border-right: 1px solid var(--un-color);
            }
            .profileBottomRight{
                flex: 4;
                padding: 10px;
                margin-left: 10px;
                @include media('>phone', '<=mobile'){
                    
                    margin-left: 0;
            
                }
                @include media('>smphone', '<=phone'){
                    margin-left: 0;
                    
                }
            }
        }
        
    }
}