/**
*
* Testing
*
**/
.productReviewsSection .top {
  margin: 10px 0;
}
.productReviewsSection .top .heading h3 {
  font-size: 22px;
  font-weight: 600;
}
.productReviewsSection .bottom {
  display: flex;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productReviewsSection .bottom {
    flex-direction: column;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productReviewsSection .bottom {
    flex-direction: column;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .productReviewsSection .bottom {
    flex-direction: column;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productReviewsSection .bottom {
    flex-direction: column;
  }
}
.productReviewsSection .bottom .left {
  flex: 3;
}
.productReviewsSection .bottom .left .revHr {
  margin: 10px 30px 10px 0;
}
.productReviewsSection .bottom .left .customerReviwes .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productReviewsSection .bottom .left .byFeature .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productReviewsSection .bottom .left .byFeature .container {
  padding: 10px 0;
}
.productReviewsSection .bottom .left .reviewThisProduct .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productReviewsSection .bottom .right {
  flex: 9;
}
.productReviewsSection .bottom .right .hrBtm {
  margin: 20px 0;
}
.productReviewsSection .bottom .right .rigthTop .heading h4, .productReviewsSection .bottom .right .rightCenter .heading h4, .productReviewsSection .bottom .right .rightBottom .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productReviewsSection .bottom .right .rigHr {
  margin: 15px 0;
}
.productReviewsSection .bottom .right .rightCenter .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 45%;
  margin: 10px 0;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productReviewsSection .bottom .right .rightCenter .container {
    flex-wrap: wrap;
    width: unset;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productReviewsSection .bottom .right .rightCenter .container {
    flex-wrap: wrap;
    width: unset;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .productReviewsSection .bottom .right .rightCenter .container {
    flex-wrap: wrap;
    width: unset;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productReviewsSection .bottom .right .rightCenter .container {
    flex-wrap: wrap;
    width: unset;
  }
}
.productReviewsSection .bottom .right .rightBottom {
  display: flex;
  flex-direction: column;
}
.productReviewsSection .bottom .right .rightBottom .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productReviewsSection .bottom .right .rightBottom .container {
    flex-direction: column;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productReviewsSection .bottom .right .rightBottom .container {
    flex-direction: column;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .productReviewsSection .bottom .right .rightBottom .container {
    flex-direction: column;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productReviewsSection .bottom .right .rightBottom .container {
    flex-direction: column;
  }
}/*# sourceMappingURL=productReviewSection.css.map */