@import "../../breakpoints.scss";


.buyContainer{
    // height: calc(100vh - 140px);
    .buyWrapper{
        .buyTop{
            display: flex;
            justify-content: space-between;
            margin: 20px 30px;
            padding: 10px 30px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            @include media('>phone', '<=mobile'){
                margin: 10px 10px;
                padding: 10px 15px;
        
            }
            @include media('>smphone', '<=phone'){
                margin: 10px 10px;
                padding: 10px 15px;
            }
            .heading{
                h3{
                    font-size: 24px;
                    font-weight: 500;
                    color: var(--hover-color);

                    @include media('>phone', '<=mobile'){
                        font-size: 16px;
                
                    }
                    @include media('>smphone', '<=phone'){
                        font-size: 16px;
                    }
                }
            }
            
            .topLeft{
                flex: 8;
                border-right: 1px solid var(--hover-color);
                margin-right: 50px;
                @include media('>phone', '<=mobile'){
                    flex: 1;
                    margin-right: 20px;
            
                }
                @include media('>smphone', '<=phone'){
                    flex: 1;
                    margin-right: 20px;
                }
                .orderSummary{
                    margin-top: 20px;
                }
            }
            .topRight{
                flex: 4;
                @include media('>phone', '<=mobile'){
                    flex: 1;
            
                }
                @include media('>smphone', '<=phone'){
                    flex: 1;
                }
                .paymentOptions{
                    border: 1px solid var(--hover-color);
                    padding: 10px;
                    margin-top: 20px;
                    border-radius: 10px;
                }
            }
        }
        .buyBottom{
            margin: 20px 30px;
            padding: 10px 30px;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

            @include media('>phone', '<=mobile'){
                margin: 10px 10px;
                padding: 10px 10px;
        
            }
            @include media('>smphone', '<=phone'){
                margin: 10px 10px;
                padding: 10px 10px;
            }
            .addressContainer{
                display: flex;

                justify-content: space-between;

                @include media('>phone', '<=mobile'){
                    flex-direction: column-reverse;
                    gap: 20px;
            
                }
                @include media('>smphone', '<=phone'){
                        flex-direction: column-reverse;
                        gap: 20px;
                }
                .addressForm{
                    flex: 8;
                    margin-bottom: 20px;
                    margin-right: 50px;
                    border-right: 1px solid var(--hover-color);

                    @include media('>phone', '<=mobile'){
                        border-right: none;
                
                    }
                    @include media('>smphone', '<=phone'){
                        border-right: none;
                    }
                    .heading{
                        h3{
                            font-size: 24px;
                            font-weight: 500;
                            color: var(--hover-color);

                            @include media('>phone', '<=mobile'){
                                font-size: 18px;
                        
                            }
                            @include media('>smphone', '<=phone'){
                                font-size: 18px;
                            }
                        }
                    }
                    form{
                        margin-top: 20px;
                        display: flex;
                        // flex-direction: column;
                        flex-wrap: wrap;
                        gap: 15px;
                        .fName,.lName{
                            width: 45%;

                            @include media('>phone', '<=mobile'){
                                width: 100%;
                        
                            }
                            @include media('>smphone', '<=phone'){
                                width: 100%;
                            }
                        }
                        input{
                            padding: 15px;
                            margin-bottom: 10px;
                            border: none;
                            outline: none;
                            width: 45%;
                            border-radius: 5px;
                            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                            @include media('>phone', '<=mobile'){
                                width: 100%;
                        
                            }
                            @include media('>smphone', '<=phone'){
                                width: 100%;
                            }
                        }
                    }
                    .addBtn{
                        margin-top: 20px;
                        padding: 10px 20px;
                        border: none;
                        border-radius: 5px;
                        background-color: var(--hover-color);
                        color: white;
                        font-size: 18px;
                        font-weight: 500;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        &:hover{
                            color: white;
                            background-color: var(--main-color);
                        }
                        @include media('>phone', '<=mobile'){
                            font-size: 16px;
                    
                        }
                        @include media('>smphone', '<=phone'){
                            font-size: 16px;
                        }
                    }
                }
                .exsistingAddress{
                    flex: 4;
                    .heading{
                        h3{
                            font-size: 24px;
                            font-weight: 500;
                            color: var(--hover-color);
                            @include media('>phone', '<=mobile'){
                                font-size: 18px;
                        
                            }
                            @include media('>smphone', '<=phone'){
                                font-size: 18px;
                            }
                        }
                    }
                    .userAddress{
                        border: 1px solid var(--hover-color);
                        padding: 10px;
                        border-radius: 10px;
                        margin-top: 20px;
                        .address{
                            list-style: none;
                            li{
                                margin-bottom: 10px;
                                .userNameAddress{
                                    font-weight: 600;
                                    font-size: 18px;
                                    color: var(--hover-color);

                                    @include media('>phone', '<=mobile'){
                                        font-size: 16px;
                                
                                    }
                                    @include media('>smphone', '<=phone'){
                                        font-size: 16px;
                                    }
                                }

                                .addSpanBtn{
                                    display: flex;
                                    gap: 10px;
                                    .useBtn{
                                        margin-top: 10px;
                                        padding: 5px 10px;
                                        border: 1px solid green;
                                        border-radius: 5px;
                                        background-color: white;
                                        color: black;
                                        font-size: 14px;
                                        font-weight: 500;
                                        cursor: pointer;
                                        text-transform: uppercase;
                                        transition: all 0.3s ease;
                                        &:hover{
                                            color: white;
                                            background-color: green;
                                        }
                                    }
                                    .removeBtn{
                                        margin-top: 10px;
                                        padding: 5px 10px;
                                        border: 1px solid red;
                                        border-radius: 5px;
                                        background-color: white;
                                        color: black;
                                        font-size: 14px;
                                        font-weight: 500;
                                        cursor: pointer;
                                        text-transform: uppercase;
                                        transition: all 0.3s ease;
                                        &:hover{
                                            color: white;
                                            background-color: red;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            
        }
    }
}