@import "../../breakpoints.scss";


.serviceContainer{
    ul{
        display: flex;
        gap: 20px;
        justify-content: center;
        li{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 5px;
            padding: 15px;
            img{
                width: 30px;
            }

            span{
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                color: var(--hover-color);
            }
            @include media('>phone', '<=mobile'){
                padding: 0;
                margin: 20px 0;
            }
            @include media('>smphone', '<=phone'){
        
            }
            @include media('>phone', '<=largemb'){
        
            }
            @include media('>largemb', '<=tablet'){
        
            }
        }
                
        @include media('>phone', '<=mobile'){
            gap: unset;
        }
        @include media('>smphone', '<=phone'){
    
        }
        @include media('>phone', '<=largemb'){
    
        }
        @include media('>largemb', '<=tablet'){
    
        }
    }
}