/**
*
* Testing
*
**/
.dashboard {
  display: flex;
  background-color: var(--main-color);
  color: white;
}
.dashboard a {
  color: white;
}
.dashboard hr {
  border-color: var(--box-color);
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard {
    display: block;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard {
    display: block;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .dashboard {
    display: block;
  }
}
.dashboard .leftContainer {
  background-color: var(--un-color);
  color: black;
  flex: 2;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard .leftContainer {
    transform: translateX(-420px);
    display: none;
  }
  .dashboard .leftContainer.open {
    transition: all 0.5s ease-in;
    width: 80%;
    flex: unset;
    z-index: 9999;
    display: block;
    position: fixed;
    transform: translateX(0);
  }
  .dashboard .leftContainer.close {
    transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard .leftContainer {
    transform: translateX(-420px);
    display: none;
  }
  .dashboard .leftContainer.open {
    transition: all 0.5s ease-in;
    width: 60%;
    flex: unset;
    z-index: 9999;
    display: block;
    position: fixed;
    transform: translateX(0);
  }
  .dashboard .leftContainer.close {
    transition: all 0.5s ease-in-out;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .dashboard .leftContainer {
    transform: translateX(-420px);
    display: none;
  }
  .dashboard .leftContainer.open {
    transition: all 0.5s ease-in;
    width: 60%;
    flex: unset;
    z-index: 9999;
    display: block;
    position: fixed;
    transform: translateX(0);
  }
  .dashboard .leftContainer.close {
    transition: all 0.5s ease-in-out;
  }
}
.dashboard .rightContainer {
  flex: 10;
  display: flex;
  flex-direction: column;
}
.dashboard .rightContainer .dashboardMainContent {
  padding: 20px;
}
.dashboard .rightContainer .dashboardMainContent .heading {
  display: flex;
  justify-content: space-between;
}
.dashboard .rightContainer .dashboardMainContent .heading .title h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.dashboard .rightContainer .dashboardMainContent .heading .title span {
  font-size: 14px;
  color: rgb(173, 172, 172);
}
.dashboard .rightContainer .dashboardMainContent .heading .downloadBtn {
  padding: 5px 20px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
  height: 100%;
}
.dashboard .rightContainer .dashboardMainContent .heading .downloadBtn:hover {
  transition: all 0.3s ease;
  color: white;
  background-color: var(--hover-color);
}
.dashboard .rightContainer .dashboardMainContent .dContent {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 15px;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent {
  display: flex;
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent {
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent {
    flex-direction: column;
    gap: 10px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent {
    flex-direction: column;
    gap: 10px;
  }
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop {
  flex: 4.2;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop {
    gap: 4px;
    justify-content: center;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop {
    justify-content: center;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop {
    justify-content: space-between;
  }
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: var(--hover-color);
  border-radius: 5px;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxHeading {
  display: flex;
  justify-content: space-between;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxHeading h5 {
  font-weight: 500;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxNumber h3 {
  font-size: 22px;
  font-weight: 600;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxTimeStamp {
  display: flex;
  gap: 50px;
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxTimeStamp {
    gap: 10px;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxTimeStamp {
    gap: 10px;
  }
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxTimeStamp h6 {
  font-size: 14px;
  font-weight: 500;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .leftTop .box .boxTimeStamp p {
  font-size: 12px;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .rightTop {
  flex: 7.8;
}
.dashboard .rightContainer .dashboardMainContent .dContent .topdContent .rightTop .boxChart {
  background-color: var(--hover-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent {
  display: flex;
  gap: 20px;
}
@media (min-width: 301px) and (max-width: 370px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
.dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent .leftBottom {
  flex: 7.7;
}
.dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent .leftBottom .transactionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  border-radius: 5px;
  height: 38vh;
}
.dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent .rightBottom {
  flex: 4.3;
}
.dashboard .rightContainer .dashboardMainContent .dContent .bottomdContent .rightBottom .chartBox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hover-color);
  border-radius: 5px;
  height: 38vh;
}/*# sourceMappingURL=dashboard.css.map */