@import "../../breakpoints.scss";

.dashboard{
    display: flex;
    background-color: var(--main-color);
    color: white;

    a{
        color: white;
    }
    hr{
        border-color: var(--box-color);
    }

    @include media('>smphone', '<=phone'){
        display: block;
    }
    @include media('>phone', '<=mobile'){
        display: block;
    }
    @include media('>mobile', '<=largemb'){
        display: block;
    }
    .leftContainer{
        background-color: var(--un-color);
        color: black;
        flex: 2;
        // border-right: 1px solid var(--box-color);
        height: 100vh;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

        @include media('>smphone', '<=phone'){
            transform: translateX(-420px);
            display: none;
            &.open{
                transition: all 0.5s ease-in;
                width: 80%;
                flex: unset;
                z-index: 9999;
                display: block;
                position: fixed;
                transform: translateX(0);
            }
            
            &.close{
                transition: all 0.5s ease-in-out;
                // transform: translateX(460px);
            }
            // z-index: 9999;
        }
        @include media('>phone', '<=mobile'){
            transform: translateX(-420px);
            display: none;
            &.open{
                transition: all 0.5s ease-in;
                width: 60%;
                flex: unset;
                z-index: 9999;
                display: block;
                position: fixed;
                transform: translateX(0);
            }
        
            &.close{
                transition: all 0.5s ease-in-out;
                // transform: translateX(460px);
            }
            
        }
        @include media('>mobile', '<=largemb'){
            transform: translateX(-420px);
            display: none;
            &.open{
                transition: all 0.5s ease-in;
                width: 60%;
                flex: unset;
                z-index: 9999;
                display: block;
                position: fixed;
                transform: translateX(0);
            }
        
            &.close{
                transition: all 0.5s ease-in-out;
                // transform: translateX(460px);
            }
    
        }
    }
    .rightContainer{
        flex: 10;
        display: flex;
        flex-direction: column;

        .dashboardMainContent{
            padding: 20px;

            .heading{
                display: flex;
                justify-content: space-between;

                .title{
                    h3{
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                    span{
                        font-size: 14px;
                        color: rgb(173, 172, 172);
                    }
                }

                .downloadBtn{
                    padding: 5px 20px;
                    cursor: pointer;
                    border: none;
                    border-radius: 50px;
                    height: 100%;
                    &:hover{
                        transition: all .3s ease;
                        color: white;
                        background-color: var(--hover-color);
                    }
                }
            }

            .dContent{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                gap: 15px;
                .topdContent{
                    display: flex;
                    // justify-content: space-between;
                    @include media('>smphone', '<=phone'){
                        flex-direction: column;
                        gap: 10px;
                    }
                    @include media('>phone', '<=mobile'){
                        flex-direction: column;
                        gap: 10px;
                    }
                    @include media('>mobile', '<=largemb'){
                        flex-direction: column;
                        gap: 10px;
                    }
                    .leftTop{
                        flex: 4.2;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 15px;
                        @include media('>smphone', '<=phone'){
                            gap: 4px;
                            justify-content: center;
                        }
                        @include media('>phone', '<=mobile'){
                            // gap: 4px;
                            justify-content: center;
                        }
                        @include media('>mobile', '<=largemb'){
                            justify-content: space-between;
                            // gap: 4px;
                        }
                        .box{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 10px;
                            background-color: var(--hover-color);
                            border-radius: 5px;
                            .boxHeading{
                                display: flex;
                                justify-content: space-between;
                                h5{
                                    font-weight: 500;
                                }
                            }
                            .boxNumber{
                                h3{
                                    font-size: 22px;
                                    font-weight: 600;
                                }
                            }
                            .boxTimeStamp{
                                display: flex;
                                gap: 50px;
                                // justify-content: space-between;
                                @include media('>smphone', '<=phone'){
                                    gap: 10px;
                                    // justify-content: center;
                                }
                                @include media('>phone', '<=mobile'){
                                    gap: 10px;
                                }
                                @include media('>mobile', '<=largemb'){
                                }
                                h6{
                                    font-size: 14px;
                                    font-weight: 500;
                                }
                                p{
                                    font-size: 12px;
                                    @include media('>smphone', '<=phone'){
                                        // font-size: 12px;
                                    }
                                    @include media('>phone', '<=mobile'){
                                        // font-size: 12px;
                                    }
                                    @include media('>mobile', '<=largemb'){

                                    }
                                }
                            }
                        }
                    }
                    .rightTop{
                        flex: 7.8;
                        .boxChart{
                            background-color: var(--hover-color);
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 35vh;
                        }
                    }
                }
            
                .bottomdContent{
                    display: flex;
                    gap: 20px;
                    @include media('>smphone', '<=phone'){
                        flex-direction: column-reverse;
                        gap: 10px;
                    }
                    @include media('>phone', '<=mobile'){
                        flex-direction: column-reverse;
                        gap: 10px;
                    }
                    @include media('>mobile', '<=largemb'){
                        flex-direction: column-reverse;
                        gap: 10px;
                    }
                    .leftBottom{
                        flex: 7.7;

                        .transactionBox{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--hover-color);
                            border-radius: 5px;
                            height: 38vh;
                        }
                    }
                    .rightBottom{
                        flex: 4.3;

                        .chartBox{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: var(--hover-color);
                            border-radius: 5px;
                            height: 38vh;
                        }
                    }
                }
            }
        }
    }
}