@import "../../../breakpoints.scss";

.productRating{
    list-style: none;
    padding: 10px;
    li{
        display: flex;
        align-items: center;
        .starFill{
            width: 18px;
            @include media('>phone', '<=mobile'){
                width: 16px;
            }
            @include media('>smphone', '<=phone'){

            }
            @include media('>phone', '<=largemb'){

            }
            @include media('>largemb', '<=tablet'){

            }
        }
        img{
            width: 16px;
            @include media('>phone', '<=mobile'){
                width: 14px;
            }
            @include media('>smphone', '<=phone'){

            }
            @include media('>phone', '<=largemb'){

            }
            @include media('>largemb', '<=tablet'){

            }
        }

        span{
            margin-left: 5px;
            color: var(--hover-color);

            @include media('>phone', '<=mobile'){
                font-size: 14px;
            }
            @include media('>smphone', '<=phone'){

            }
            @include media('>phone', '<=largemb'){

            }
            @include media('>largemb', '<=tablet'){

            }
        }
    }
}