@import "../../breakpoints.scss";

.secondaryNavbarContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: var(--hover-color);
    // position: sticky;
    // top: 9.3%;
    // z-index: 3;
    @include media('>phone', '<=mobile'){
        height: 50px;
    }
    .container{
        a{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            text-decoration: none;
            color: white;

            img{
                width: 25px;
                cursor: pointer;
        
                &:hover{
                    transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;
                }

                @include media('>phone', '<=mobile'){
                    width: 20px;
                }
            }

            span{
                font-size: 14px;

                @include media('>phone', '<=mobile'){
                    font-size: 10px;
                }
            }

        }
    }
}