/**
*
* Testing
*
**/
.productCard {
  width: 23%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productCard {
    width: 45%;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productCard {
    width: 45%;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .productCard {
    width: 45%;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productCard {
    width: 30%;
  }
}
.productCard .productCardHr {
  border-color: var(--un-color);
  margin: 5px;
}
.productCard .productImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.productCard .productImgContainer a {
  display: flex;
  justify-content: center;
}
.productCard .productImgContainer a img {
  width: 50%;
}
.productCard .productImgContainer .shirtColors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  list-style: none;
  margin-top: 10px;
}
.productCard .productImgContainer .shirtColors .active {
  border: 2px solid var(--hover-color);
  padding: 9px;
}
.productCard .productImgContainer .shirtColors li {
  width: 18px;
  height: 18px;
  border-radius: 50px;
}
.productCard .productImgContainer .shirtColors .black {
  background-color: black;
}
.productCard .productImgContainer .shirtColors .white {
  background-color: white;
}
.productCard .productImgContainer .shirtColors .green {
  background-color: green;
}
.productCard .productImgContainer .shirtColors .yellow {
  background-color: yellow;
}
.productCard .productImgContainer .shirtColors .blue {
  background-color: blue;
}
.productCard .productDetailsContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
}
.productCard .productDetailsContainer h4 {
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productCard .productDetailsContainer h4 {
    font-size: 16px;
  }
}
.productCard .productDetailsContainer p {
  font-size: 16px;
}
.productCard .productDetailsContainer .productCardRating {
  list-style: none;
  margin-top: 5px;
}
.productCard .productDetailsContainer .productCardRating li {
  display: flex;
  align-items: center;
}
.productCard .productDetailsContainer .productCardRating li .starFill {
  width: 18px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productCard .productDetailsContainer .productCardRating li .starFill {
    width: 16px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productCard .productDetailsContainer .productCardRating li .starFill {
    width: 16px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .productCard .productDetailsContainer .productCardRating li .starFill {
    width: 16px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productCard .productDetailsContainer .productCardRating li .starFill {
    width: 16px;
  }
}
.productCard .productDetailsContainer .productCardRating li img {
  width: 16px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .productCard .productDetailsContainer .productCardRating li img {
    width: 14px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .productCard .productDetailsContainer .productCardRating li img {
    width: 14px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .productCard .productDetailsContainer .productCardRating li img {
    width: 14px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .productCard .productDetailsContainer .productCardRating li img {
    width: 14px;
  }
}
.productCard .productDetailsContainer .productCardRating li span {
  margin-left: 10px;
  color: var(--hover-color);
}
.productCard .productDetailsContainer .productPrice {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productCard .productDetailsContainer .productPrice .prices {
  font-size: 22px;
  font-weight: 500;
  position: relative;
}
.productCard .productDetailsContainer .productPrice .prices span {
  position: absolute;
  font-size: 15px;
  left: 30%;
  color: var(--hover-color);
}
.productCard .productDetailsContainer .productPrice .prices h4 {
  font-size: 22px;
  font-weight: 600;
  color: var(--hover-color);
}
.productCard .productDetailsContainer .productPrice p {
  font-size: 12px;
  color: var(--main-color);
  display: flex;
  gap: 10px;
}
.productCard .productDetailsContainer .productPrice p span {
  text-decoration: line-through;
}
.productCard .productDetailsContainer .productPrice .discounts {
  font-size: 14px;
}
.productCard .productDetailsContainer .deliveryOptions {
  font-size: 14px;
}/*# sourceMappingURL=productCard.css.map */