@import "../../breakpoints.scss";


.categoryContentContainer{
    flex: 10;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    margin-bottom: 20px;

    @include media('>phone', '<=mobile'){ 
        gap: 10px;
        
    }
}