@import "../../breakpoints.scss";
.categoryTopBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    padding: 0 30px;

    @include media('>phone', '<=mobile'){
        display: none;
        
    }
    @include media('>smphone', '<=phone'){
        display: none;
    }
    @include media('>phone', '<=largemb'){
        display: none;
    }
    @include media('>largemb', '<=tablet'){
        display: none;
    }
    .left{
        h3{
            font-size: 22px;
            font-weight: 600;

            @include media('>phone', '<=mobile'){
                font-size: 12px;
            }
        }
    }

    .center{
        ul{
            list-style: none;
            display: flex;
            gap: 20px;
            @include media('>phone', '<=mobile'){
                gap: 5px;
            }
            a{
                text-decoration: none;
                color: var(--main-color);
                // font-weight: 600;
                li{
                    cursor: pointer;
                    &:hover{
                        border-bottom: 1px solid var(--hover-color);
                        color: var(--main-color);
                        font-weight: 500;
                    }
                    @include media('>phone', '<=mobile'){
                        font-size: 12px;
                    }

                }
            }
            .active{
                color: var(--main-color);
                border-bottom: 1px solid var(--hover-color);
                font-weight: 600;
            }
        }
    }

    .right{
        p{
            @include media('>phone', '<=mobile'){
                font-size: 12px;
            }
        }
    }
}