.productContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.productContainer .mainSection {
  display: flex;
  margin-top: 5px;
}
.productContainer .mainSection .left {
  flex: 6;
  display: flex;
  justify-content: space-around;
  height: 700px;
}
.productContainer .mainSection .left .otherImageContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
}
.productContainer .mainSection .left .otherImageContainer .active {
  border: 2px solid var(--hover-color);
}
.productContainer .mainSection .left .otherImageContainer img {
  border: 1px solid black;
  width: 40px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.productContainer .mainSection .left .productImageContainer {
  background-color: var(--un-color);
  display: flex;
  justify-content: center;
}
.productContainer .mainSection .left .productImageContainer img {
  width: 90%;
  cursor: pointer;
}
.productContainer .mainSection .right {
  flex: 6;
}
.productContainer .mainSection .right .productDetialContainer {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 1.3px;
}
.productContainer .mainSection .right .productRating {
  list-style: none;
  padding: 10px;
}
.productContainer .mainSection .right .productRating li img {
  width: 15px;
}
.productContainer .mainSection .right .productRating li span {
  margin-left: 5px;
  color: var(--hover-color);
}
.productContainer .mainSection .right .priceContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
.productContainer .mainSection .right .priceContainer .prices {
  margin-left: 20px;
  font-size: 28px;
  font-weight: 500;
  position: relative;
}
.productContainer .mainSection .right .priceContainer .prices span {
  position: absolute;
  font-size: 14px;
  left: -15%;
}
.productContainer .mainSection .right .priceContainer p {
  font-size: 14px;
  color: var(--hover-color);
}
.productContainer .mainSection .right .priceContainer p span {
  text-decoration: line-through;
}
.productContainer .mainSection .right .priceContainer .discounts {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.productContainer .mainSection .right .stockContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.productContainer .mainSection .right .stockContainer h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--main-color);
}
.productContainer .mainSection .right .stockContainer p {
  font-size: 16px;
  font-weight: 500;
}
.productContainer .mainSection .right .stockContainer p span {
  font-weight: 600;
  color: var(--main-color);
}
.productContainer .mainSection .right .stockContainer p .quantityCount {
  font-size: 20px;
  font-weight: 700;
}
.productContainer .mainSection .right .btnsContainer {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.productContainer .mainSection .right .btnsContainer .addToCart {
  background-color: var(--hover-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  width: 20%;
}
.productContainer .mainSection .right .btnsContainer .addToCart:hover {
  background-color: var(--main-color);
  transition: all 0.3s ease-in-out;
}
.productContainer .mainSection .right .btnsContainer .buyNow {
  background-color: var(--main-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  width: 20%;
}
.productContainer .mainSection .right .btnsContainer .buyNow:hover {
  transition: all 0.3s ease-in-out;
}
.productContainer .mainSection .right .pincodeContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
  cursor: pointer;
}
.productContainer .mainSection .right .pincodeContainer img {
  width: 25px;
}
.productContainer .mainSection .right .pincodeContainer p {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.productContainer .mainSection .right .pincodeContainer p span {
  font-weight: 700;
  color: var(--main-color);
}
.productContainer .mainSection .right .offerContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.productContainer .mainSection .right .offerContainer h4 {
  font-size: 18px;
  font-weight: 600;
}
.productContainer .mainSection .right .offerContainer .container {
  display: flex;
  gap: 10px;
  margin-top: 5px;
  width: 90%;
}
.productContainer .mainSection .right .offerContainer .container .innerContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
  width: 200px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border: 1px solid var(--un-color);
}
.productContainer .mainSection .right .offerContainer .container .innerContainer p {
  font-size: 14px;
  font-weight: 500;
}
.productContainer .mainSection .right .serviceContainer ul {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.productContainer .mainSection .right .serviceContainer ul li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}
.productContainer .mainSection .right .serviceContainer ul li img {
  width: 30px;
}
.productContainer .mainSection .right .serviceContainer ul li span {
  font-size: 14px;
  font-weight: 600;
  color: var(--hover-color);
}
.productContainer .mainSection .right .aboutItemContainer .productColor {
  margin: 20px 0;
}
.productContainer .mainSection .right .aboutItemContainer .productSize {
  margin: 15px 0;
  width: 40%;
}
.productContainer .mainSection .right .aboutItemContainer .productTable {
  margin: 15px 0;
  width: 100%;
}
.productContainer .mainSection .right .aboutItemContainer .productTable table {
  width: 100%;
  border-collapse: collapse;
}
.productContainer .mainSection .right .aboutItemContainer .productTable table th {
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--un-color);
}
.productContainer .mainSection .right .aboutItemContainer .productTable table td {
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--un-color);
}
.productContainer .mainSection .right .aboutItemContainer .productAbout {
  margin-top: 15px;
}
.productContainer .mainSection .right .aboutItemContainer .productAbout .heading h4 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.productContainer .mainSection .right .aboutItemContainer .productAbout .description ul {
  margin-left: 20px;
}
.productContainer .mainSection .right .aboutItemContainer .productAbout .description ul li {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgb(106, 101, 101);
}
.productContainer .brandSection {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.productContainer .brandSection .heading {
  display: flex;
  align-items: center;
}
.productContainer .brandSection .heading img {
  width: 90px;
}
.productContainer .brandSection .heading span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}
.productContainer .brandSection .container {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.productContainer .brandSection .container .left {
  margin-top: 10px;
  padding-right: 50px;
  border-right: 2px solid var(--un-color);
}
.productContainer .brandSection .container .left ul {
  list-style: none;
}
.productContainer .brandSection .container .left ul li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}
.productContainer .brandSection .container .left ul li span {
  margin-right: 10px;
}
.productContainer .brandSection .container .left ul li span img {
  width: 18px;
}
.productContainer .brandSection .container .right {
  margin-top: 10px;
}
.productContainer .brandSection .container .right h4 {
  font-size: 14px;
  font-weight: 600;
}
.productContainer .brandSection .container .right .rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
.productContainer .brandSection .container .right .rate .inner {
  display: flex;
  align-items: center;
  background-color: var(--un-color);
  padding: 3px 10px;
  gap: 5px;
}
.productContainer .brandSection .container .right .rate .inner img {
  width: 15px;
}
.productContainer .brandSection .container .right .rate .inner span {
  font-size: 12px;
  font-weight: 400;
}
.productContainer .simiHr {
  margin: 15px 0;
}
.productContainer .similarProductsSection .heading h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}
.productContainer .similarProductsSection .container {
  display: flex;
  gap: 15px;
}
.productContainer .fromManufaturerSection {
  text-align: center;
  padding: 20px 0;
}
.productContainer .productDetailsSection h4 {
  font-size: 24px;
  font-weight: 500;
}
.productContainer .productDetailsSection table tr {
  display: flex;
  align-items: center;
}
.productContainer .productDetailsSection table tr th {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--un-color);
}
.productContainer .productDetailsSection table tr th .tspan {
  margin-left: 10px;
}
.productContainer .productDetailsSection table tr td {
  font-size: 14px;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid var(--un-color);
}
.productContainer .productDetailsSection table tr td ul {
  list-style: none;
}
.productContainer .productDetailsSection table tr td ul li {
  display: flex;
  align-items: center;
}
.productContainer .productDetailsSection table tr td ul li .numStars {
  margin-right: 10px;
  font-weight: 500;
}
.productContainer .productDetailsSection table tr td ul li img {
  width: 15px;
}
.productContainer .productDetailsSection table tr td ul li .numRatings {
  margin-left: 10px;
  font-weight: 500;
  color: var(--hover-color);
}
.productContainer .productDescriptionSection h4 {
  font-size: 24px;
  font-weight: 500;
}
.productContainer .productDescriptionSection p {
  font-size: 13px;
  margin: 10px 20px;
}
.productContainer .productReviewsSection .top {
  margin: 10px 0;
}
.productContainer .productReviewsSection .top .heading h3 {
  font-size: 22px;
  font-weight: 600;
}
.productContainer .productReviewsSection .top .searchContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
  width: 50%;
  border-radius: 10px;
  border: 1px solid var(--un-color);
  padding: 0 10px;
}
.productContainer .productReviewsSection .top .searchContainer img {
  width: 15px;
}
.productContainer .productReviewsSection .top .searchContainer input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}
.productContainer .productReviewsSection .bottom {
  display: flex;
}
.productContainer .productReviewsSection .bottom .left {
  flex: 3;
}
.productContainer .productReviewsSection .bottom .left .revHr {
  margin: 10px 30px 10px 0;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .productRating {
  list-style: none;
  margin-top: 5px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .productRating li img {
  width: 15px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .productRating li .numStars {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .numRatings {
  font-size: 14px;
  color: var(--hover-color);
  cursor: pointer;
  margin-bottom: 20px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .ratingProgressBar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 10px 0;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .ratingProgressBar .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  margin-right: 30px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .ratingProgressBar .bar .css-7p5u54 {
  height: 20px !important;
  width: 50%;
  background-color: var(--un-color);
  border-radius: 10px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .ratingProgressBar .bar .css-t752vm {
  background-color: var(--hover-color);
  border-radius: 10px;
}
.productContainer .productReviewsSection .bottom .left .customerReviwes .ratingProgressBar .bar span {
  font-size: 14px;
  font-weight: 500;
  color: var(--hover-color);
  cursor: pointer;
}
.productContainer .productReviewsSection .bottom .left .byFeature .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container {
  padding: 10px 0;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 30px;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner .innerLeft p {
  font-size: 14px;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner .productRating {
  list-style: none;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner .productRating li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner .productRating li img {
  width: 15px;
}
.productContainer .productReviewsSection .bottom .left .byFeature .container .inner .productRating li .numStars {
  font-size: 14px;
  color: var(--hover-color);
  margin-left: 10px;
  cursor: pointer;
}
.productContainer .productReviewsSection .bottom .left .reviewThisProduct .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productContainer .productReviewsSection .bottom .left .reviewThisProduct .container {
  display: flex;
  flex-direction: column;
}
.productContainer .productReviewsSection .bottom .left .reviewThisProduct .container p {
  font-size: 14px;
  margin: 10px 0;
}
.productContainer .productReviewsSection .bottom .left .reviewThisProduct .container button {
  background-color: var(--un-color);
  color: black;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  width: 92%;
}
.productContainer .productReviewsSection .bottom .left .reviewThisProduct .container button:hover {
  background-color: var(--hover-color);
  color: white;
  transition: all 0.3s ease-in-out;
}
.productContainer .productReviewsSection .bottom .right {
  flex: 9;
}
.productContainer .productReviewsSection .bottom .right .hrBtm {
  margin: 20px 0;
}
.productContainer .productReviewsSection .bottom .right .rigthTop .heading h4, .productContainer .productReviewsSection .bottom .right .rightCenter .heading h4, .productContainer .productReviewsSection .bottom .right .rightBottom .heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.productContainer .productReviewsSection .bottom .right .rigHr {
  margin: 15px 0;
}
.productContainer .productReviewsSection .bottom .right .rigthTop .imgContainer {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 10px 0;
  gap: 10px;
}
.productContainer .productReviewsSection .bottom .right .rigthTop .imgContainer img {
  width: 100px;
  border-radius: 10px;
}
.productContainer .productReviewsSection .bottom .right .rightCenter .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 45%;
  margin: 10px 0;
}
.productContainer .productReviewsSection .bottom .right .rightCenter .container .inner {
  padding: 10px;
  width: -moz-max-content;
  width: max-content;
  font-size: 14px;
  background-color: var(--un-color);
  border-bottom: 1px solid var(--hover-color);
  cursor: pointer;
}
.productContainer .productReviewsSection .bottom .right .rightBottom {
  display: flex;
  flex-direction: column;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner {
  border: 1px solid var(--hover-color);
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  width: 48%;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .ratHr {
  margin: 10px 0;
  color: var(--hover-color);
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .customer {
  display: flex;
  align-items: center;
  gap: 15px;
  border-right: 1px solid var(--hover-color);
  padding-right: 50px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .customer img {
  width: 40px;
  border-radius: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .customer .nameSpan {
  font-size: 14px;
  text-transform: uppercase;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .productRating {
  list-style: none;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .productRating li {
  display: flex;
  align-items: center;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .productRating li img {
  width: 18px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .productRating li span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  color: var(--hover-color);
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .ratingDate p {
  text-align: end;
  margin-top: 5px;
  font-size: 12px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .head .rating .ratingDate .dateSpan {
  color: var(--hover-color);
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .productDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .productDetails .size, .productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .productDetails .color {
  border-right: 1px solid var(--hover-color);
  padding-right: 50px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .productDetails .proSpan {
  margin-left: 5px;
  color: var(--hover-color);
  font-weight: 500;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .reviewDescription p {
  font-size: 14px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .btns {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .btns .helpBtn {
  background-color: var(--un-color);
  color: black;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .btns .helpBtn:hover {
  background-color: var(--hover-color);
  color: white;
  transition: all 0.3s ease-in-out;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .btns .repBtn {
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid var(--un-color);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
.productContainer .productReviewsSection .bottom .right .rightBottom .container .inner .btns .repBtn:hover {
  background-color: var(--hover-color);
  color: white;
  transition: all 0.3s ease-in-out;
}/*# sourceMappingURL=product.css.map */