@import "../../breakpoints.scss";

.pincodeContainer{
    display: flex;
    align-items: center;
    margin: 10px 0;
    cursor: pointer;
    img{
        width: 25px;
        @include media('>phone', '<=mobile'){
            width: 20px;
        }
        @include media('>smphone', '<=phone'){
            width: 20px;
        }
        @include media('>mobile', '<=largemb'){
            width: 20px;
        }
        @include media('>largemb', '<=tablet'){
            width: 20px;
        }
    }

    p{
        font-size: 16px;
        font-weight: 500;
        margin-left: 10px;

        span{
            font-weight: 700;
            color: var(--main-color);
        }
    }
}