@import "../../breakpoints.scss";


:root{
    --main-color: #27374D;
    --hover-color: #526D82;
    --box-color: #9DB2BF;
    --un-color: #DDE6ED;
}


.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 30px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: var(--main-color);
    color: white;

    @include media('>phone', '<=mobile'){
        padding: 0 20px;
    }
    @include media('>smphone', '<=phone'){
        padding: 0 15px;

        height: 60px;
    }
    @include media('>phone', '<=largemb'){
        padding: 0 15px;

        height: 70px;
    }
    @include media('>largemb', '<=tablet'){
        padding: 0 15px;

        height: 70px;
    }
    .leftSide{
        .logoLink{
            text-decoration: none;
            color: white;
            h1{
                font-size: 32px;
                font-weight: 500;
                cursor: pointer;
                span{
                    color: var(--box-color);
                }

                @include media('>phone', '<=mobile'){
                    font-size: 20px;
                }

                @include media('>smphone', '<=phone'){
                    font-size: 18px;
            
                }
                @include media('>largemb', '<=tablet'){
                    font-size: 24px;
                }
                @include media('>phone', '<=largemb'){
                    font-size: 20px;
                }
            }
        }
    }

    .center{
        display: flex;
        align-items: center;
        width: 50%;
        height: 40px;
        border-radius: 30px;
        background-color: white;

        @include media('>phone', '<=800px'){
            display: none;
        }
        @include media('>smphone', '<=phone'){
            display: none;
    
        }
        @include media('>largemb', '<=tablet'){
            display: flex;
            width: 40%;
        }

        .searchbarIcon{
            margin-left: 15px;
            margin-top: 5px;
            width: 20px;
        }

        .navSearchInput{
            border: none;
            width: 90%;
            margin-left: 10px;
            color: black;

            @include media('>largemb', '<=tablet'){
                // display: flex;
                width: 70%;
            }
        }
        .navSearchInput:focus{
            outline: none;
        }
    }
    .rightSide{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        .navLinks{
            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style: none;


                li{
                    margin-right: 15px;
                    cursor: pointer;
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    &:hover{
                        color: var(--box-color);
                        transition: color 0.3s ease-in-out;
                    }
                }

                .active{
                    color: var(--box-color);
                }
            }
        }

        .navUserImg{
            display: flex;
            align-items: center;
            gap: 20px;

            .dashboardBtn{
                padding: 5px 15px;
                border-radius: 20px;
                cursor: pointer;
                border: none;

                &:hover{
                    transform: scale(1.1);
                    transition: all .3s ease;
                    color: white;
                    background-color: var(--hover-color);
                }
            }
            .cart{
                
                position: relative;
                .cartCount{
                    position: absolute;
                    top: -30%;
                    right: -60%;
                    font-size: 12px;
                    font-weight: 600;
                    background-color: red;
                    padding: 5px 10px;
                    border-radius: 100px;
                }
            }
            img{
                width: 32px;
                object-fit: cover;
                cursor: pointer;
            }

            @include media('>phone', '<=mobile'){
                img{
                    width: 22px;
                }

                .cart{
                    a{
                        display: flex;
                    }
                    .cartCount{
                        top: -40%;
                        right: -40%;
                    }
                }
            }
            @include media('>smphone', '<=phone'){
                img{
                    width: 20px;
                }
                .cart{
                    a{
                        display: flex;
                    }
                    .cartCount{
                        top: -40%;
                        right: -40%;
                    }
                }
        
            }
            @include media('>phone', '<=largemb'){
                img{
                    width: 25px;
                }
                .cart{
                    a{
                        display: flex;
                    }
                    .cartCount{
                        top: -40%;
                        right: -40%;
                    }
                }
            }

            @include media('>largemb', '<=tablet'){ 
                img{
                    width: 25px;
                }
                .cart{
                    a{
                        display: flex;
                    }
                    .cartCount{
                        top: -40%;
                        right: -40%;
                    }
                }
            }
        }
    }
}
