@import "../../breakpoints.scss";

.indiProductContainer{
    display: flex;
    // gap: 20px;
    align-items: center;
    justify-content: space-between;
    @include media('>phone', '<=mobile'){
        align-items: unset;
    }
    @include media('>smphone', '<=phone'){
        align-items: unset;
    }
    @include media('>mobile', '<=largemb'){
        align-items: unset;
    }
    .cartLeft{
        display: flex;
        width: 60%;
        gap: 20px;
        @include media('>phone', '<=mobile'){
            flex-direction: column;    
            gap: 10px;
        }
        @include media('>smphone', '<=phone'){
            flex-direction: column;    
            gap: 10px;
        }
        @include media('>mobile', '<=largemb'){
            flex-direction: column;    
            gap: 10px;
        }
        img{
            width: 150px;
            height: 150px;
            border-radius: 10px;

            @include media('>phone', '<=mobile'){
                width: 90px;
                height: 90px;
            }
            @include media('>smphone', '<=phone'){
                width: 90px;
                height: 90px;
        }
        @include media('>mobile', '<=largemb'){
            width: 90px;
            height: 90px;
        }
        }
        .cartProductDetailContainer{
            display: flex;
            flex-direction: column;
            gap: 5px;

            p{
                font-size: 18px;
                font-weight: 500;
                @include media('>phone', '<=mobile'){
                    font-size: 12px;
                    
            
                }
                @include media('>smphone', '<=phone'){
                    font-size: 12px;
        }
        @include media('>mobile', '<=largemb'){
            font-size: 12px;
        }
            }
            h4{
                font-size: 20px;
                font-weight: 500;
                color: var(--hover-color);

                @include media('>phone', '<=mobile'){
                    font-size: 16px;
                }
                @include media('>smphone', '<=phone'){
                    font-size: 16px;
        }
        @include media('>mobile', '<=largemb'){
            font-size: 16px;
        }
            }
            .quantity{
                display: flex;
                align-items: center;
                gap: 10px;
                h5{
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--hover-color);
                    
                    span{
                        font-size: 20px;
                        margin-left: 10px;
                        font-weight: 600;
                        color: var(--hover-color);
                        @include media('>phone', '<=mobile'){
                            font-size: 16px;
                            
                    
                        }
                        @include media('>smphone', '<=phone'){
                            font-size: 16px;
        }

                    }
                    @include media('>mobile', '<=largemb'){
                        font-size: 16px;
                    }
                    
                }

                .upDown{
                    display: flex;
                    flex-direction: column;
                    img{
                        cursor: pointer;
                        width: 15px;
                        height: 15px;

                        @include media('>phone', '<=mobile'){
                            width: 10px;
                            height: 10px;
                        }
                        @include media('>smphone', '<=phone'){
                            width: 10px;
                            height: 10px;
        }
        @include media('>mobile', '<=largemb'){
            width: 10px;
            height: 10px;
        }
                    }
                }
                
            }
        }
    }
    .cartRight{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .buyBtn{
            padding: 10px 40px;
            border: none;
            border-radius: 5px;
            background-color: var(--hover-color);
            color: white;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: white;
                background-color: var(--main-color);
            }

            @include media('>phone', '<=mobile'){
                font-size: 14px;
                padding: 10px 8px;
        
            }
            @include media('>smphone', '<=phone'){
                font-size: 14px;
                padding: 10px 8px;
        }
        @include media('>mobile', '<=largemb'){
            font-size: 14px;
            padding: 10px 8px;
        }
            
        }
        .delBtn{
            padding: 10px 40px;
            border: 1px solid red;
            border-radius: 5px;
            background-color: white;
            color: black;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: white;
                background-color: rgb(232, 4, 4);
            }
            @include media('>phone', '<=mobile'){
                font-size: 14px;
                padding: 10px 8px;
        
            }
            @include media('>smphone', '<=phone'){
                font-size: 14px;
                padding: 10px 8px;
        }
        @include media('>mobile', '<=largemb'){
            font-size: 14px;
            padding: 10px 8px;
        }
        }
        .saveBtn{
            padding: 10px 40px;
            border: 1px solid green;
            border-radius: 5px;
            background-color: white;
            color: black;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover{
                color: white;
                background-color: rgb(10, 96, 10);
            }
            @include media('>phone', '<=mobile'){
                font-size: 14px;
                padding: 10px 8px;
        
            }
            @include media('>smphone', '<=phone'){
                font-size: 14px;
                padding: 10px 8px;
        }
        @include media('>mobile', '<=largemb'){
            font-size: 14px;
            padding: 10px 8px;
        }
            
        }
    }
}