/**
*
* Testing
*
**/
.indiProductContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer {
    align-items: unset;
  }
}
.indiProductContainer .cartLeft {
  display: flex;
  width: 60%;
  gap: 20px;
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft {
    flex-direction: column;
    gap: 10px;
  }
}
.indiProductContainer .cartLeft img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft img {
    width: 90px;
    height: 90px;
  }
}
.indiProductContainer .cartLeft .cartProductDetailContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.indiProductContainer .cartLeft .cartProductDetailContainer p {
  font-size: 18px;
  font-weight: 500;
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft .cartProductDetailContainer p {
    font-size: 12px;
  }
}
.indiProductContainer .cartLeft .cartProductDetailContainer h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--hover-color);
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft .cartProductDetailContainer h4 {
    font-size: 16px;
  }
}
.indiProductContainer .cartLeft .cartProductDetailContainer .quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.indiProductContainer .cartLeft .cartProductDetailContainer .quantity h5 {
  font-size: 18px;
  font-weight: 500;
  color: var(--hover-color);
}
.indiProductContainer .cartLeft .cartProductDetailContainer .quantity h5 span {
  font-size: 20px;
  margin-left: 10px;
  font-weight: 600;
  color: var(--hover-color);
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft .cartProductDetailContainer .quantity h5 span {
    font-size: 16px;
  }
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft .cartProductDetailContainer .quantity h5 {
    font-size: 16px;
  }
}
.indiProductContainer .cartLeft .cartProductDetailContainer .quantity .upDown {
  display: flex;
  flex-direction: column;
}
.indiProductContainer .cartLeft .cartProductDetailContainer .quantity .upDown img {
  cursor: pointer;
  width: 15px;
  height: 15px;
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartLeft .cartProductDetailContainer .quantity .upDown img {
    width: 10px;
    height: 10px;
  }
}
.indiProductContainer .cartRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.indiProductContainer .cartRight .buyBtn {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: var(--hover-color);
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.indiProductContainer .cartRight .buyBtn:hover {
  color: white;
  background-color: var(--main-color);
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartRight .buyBtn {
    font-size: 14px;
    padding: 10px 8px;
  }
}
.indiProductContainer .cartRight .delBtn {
  padding: 10px 40px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.indiProductContainer .cartRight .delBtn:hover {
  color: white;
  background-color: rgb(232, 4, 4);
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartRight .delBtn {
    font-size: 14px;
    padding: 10px 8px;
  }
}
.indiProductContainer .cartRight .saveBtn {
  padding: 10px 40px;
  border: 1px solid green;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}
.indiProductContainer .cartRight .saveBtn:hover {
  color: white;
  background-color: rgb(10, 96, 10);
}
@media (min-width: 361px) and (max-width: 425px) {
  .indiProductContainer .cartRight .saveBtn {
    font-size: 14px;
    padding: 10px 8px;
  }
}/*# sourceMappingURL=cartItem.css.map */