@import "../../breakpoints.scss";


.footerContainer{
    background-color: var(--main-color);
    color: white;
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;

    @include media('>phone', '<=mobile'){
        padding: 20px 20px 10px 20px;
    }
    .top{
        display: flex;
        justify-content: space-between;

        @include media('>phone', '<=mobile'){
            flex-direction: column;
            text-align: center;
        }

        .left{
            h1{
                font-weight: 500;
                font-size: 30px;
                span{
                    color: var(--box-color);
                }
            }
            p{
                width: 350px;
                margin-top: 10px;
            }
        }

        .center{
            @include media('>phone', '<=mobile'){
                margin-top: 20px;
            }
            h3{
                font-size: 18px;
                font-weight: 600;
            }
            ul{
                list-style: none;
                margin-top: 20px;
                a{
                    text-decoration: none;
                }
                li{
                    margin-bottom: 10px;
                    cursor: pointer;
                    
                    font-weight: 600;
                    
                    color: var(--box-color);
                    &:hover{
                        color: white;
                        transition: color 0.3s ease-in-out;
                    }
                }
            }
        }

        .right{
            .rightTop{
                @include media('>phone', '<=mobile'){
                    margin-top: 20px;
                }
                h3{
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .socialContainer{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    @include media('>phone', '<=mobile'){
                        justify-content: center;
                    }
                    img{
                        width: 30px;
                        cursor: pointer;
                        @include media('>phone', '<=mobile'){
                            width: 20px;
                        }
                        &:hover{
                            transform: scale(1.1);
                            transition: transform 0.3s ease-in-out;
                        }
                    }
                }
            }

            .rightBottom{
                h3{
                    font-size: 20px;
                    font-weight: 600;
                    margin-top: 20px;
                    margin-bottom: 10px;
                }
                ul{
                    list-style: none;
                    width: 252px;
                    @include media('>phone', '<=mobile'){
                        width: unset;
                    }
                    li{
                        a{
                            text-decoration: none;
                            color: white;
                            font-weight: 600;
                            span{
                                margin-right: 8px;

                                img{
                                    width: 20px;
                                }
                            }
                        
                        }
                    }
                }
            }
        }
    }
    hr{
        border: 1px solid var(--box-color);
        margin-top: 20px;
    }
    .bottom{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        p{
            span{
                color: var(--box-color);
            }
        }
    }
}