/**
*
* Testing
*
**/
.footerContainer {
  background-color: var(--main-color);
  color: white;
  padding: 30px 30px 10px 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0;
  width: 100%;
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer {
    padding: 20px 20px 10px 20px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer {
    padding: 15px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer {
    padding: 20px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer {
    padding: 20px;
  }
}
.footerContainer .top {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top {
    flex-direction: column;
    text-align: center;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top {
    flex-wrap: wrap;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .left {
    text-align: center;
    margin-bottom: 30px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top .left {
    margin-bottom: 30px;
  }
}
.footerContainer .top .left h1 {
  font-weight: 500;
  font-size: 30px;
}
.footerContainer .top .left h1 span {
  color: var(--box-color);
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .left h1 {
    font-size: 22px;
  }
}
.footerContainer .top .left p {
  width: 350px;
  margin-top: 10px;
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .left p {
    width: unset;
    font-size: 16px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .left p {
    width: unset;
    font-size: 14px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top .left p {
    width: unset;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top .center {
    margin-top: 20px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .center {
    margin-top: 20px;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top .center {
    margin-bottom: 20px;
  }
}
.footerContainer .top .center h3 {
  font-size: 18px;
  font-weight: 600;
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .center h3 {
    font-size: 16px;
  }
}
.footerContainer .top .center ul {
  list-style: none;
  margin-top: 20px;
}
.footerContainer .top .center ul a {
  text-decoration: none;
}
.footerContainer .top .center ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 600;
  color: var(--box-color);
}
.footerContainer .top .center ul li:hover {
  color: white;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .center ul li {
    font-size: 14px;
  }
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top .right .rightTop {
    margin-top: 20px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .right .rightTop {
    margin-top: 20px;
  }
}
.footerContainer .top .right .rightTop h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .top .right .rightTop h3 {
    font-size: 16px;
  }
}
.footerContainer .top .right .rightTop .socialContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top .right .rightTop .socialContainer {
    justify-content: center;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .right .rightTop .socialContainer {
    justify-content: center;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top .right .rightTop .socialContainer {
    justify-content: center;
  }
}
.footerContainer .top .right .rightTop .socialContainer img {
  width: 30px;
  cursor: pointer;
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top .right .rightTop .socialContainer img {
    width: 22px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .right .rightTop .socialContainer img {
    width: 22px;
  }
}
.footerContainer .top .right .rightTop .socialContainer img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.footerContainer .top .right .rightBottom h3 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}
.footerContainer .top .right .rightBottom ul {
  list-style: none;
  width: 252px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .footerContainer .top .right .rightBottom ul {
    width: unset;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .top .right .rightBottom ul {
    width: unset;
  }
}
@media (min-width: 371px) and (max-width: 560px) {
  .footerContainer .top .right .rightBottom ul {
    width: unset;
  }
}
.footerContainer .top .right .rightBottom ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.footerContainer .top .right .rightBottom ul li a span {
  margin-right: 8px;
}
.footerContainer .top .right .rightBottom ul li a span img {
  width: 20px;
}
.footerContainer hr {
  border: 1px solid var(--box-color);
  margin-top: 20px;
}
.footerContainer .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.footerContainer .bottom p span {
  color: var(--box-color);
}
@media (min-width: 301px) and (max-width: 370px) {
  .footerContainer .bottom p {
    font-size: 14px;
  }
}
@media (min-width: 561px) and (max-width: 768px) {
  .footerContainer .bottom p {
    font-size: 14px;
  }
}/*# sourceMappingURL=footer.css.map */