@import "../../../breakpoints.scss";

.indiUserInfo{
    border: 1px solid var(--un-color);
    border-radius: 10px;
    padding: 10px;

    .indiUserInfoTop{
        display: flex;

        @include media('>phone', '<=mobile'){
            flex-direction: column;
            gap: 10px;
            
    
        }
        @include media('>smphone', '<=phone'){
            flex-direction: column;
            gap: 10px;
            
        }
        .firstName,.lastName{
            flex: 1;
            // padding: 10px;
            

            h4{

                font-size: 18px;
                font-weight: 600;
                color: var(--main-color);
                @include media('>phone', '<=mobile'){
                    font-size: 14px;
                    
            
                }
                @include media('>smphone', '<=phone'){
                    font-size: 14px;
                    
                }
            }
            display: flex;
            gap: 30px;
            span{
                padding: 0 10px;
                border-bottom: 1px solid var(--un-color);
                color: var(--hover-color);
                font-size: 18px;
                font-weight: 500;

                @include media('>phone', '<=mobile'){
                    font-size: 14px;
                    
            
                }
                @include media('>smphone', '<=phone'){
                    font-size: 14px;
                    
                }
                // border-radius: 10px;
            }
            // border-right: 1px solid var(--un-color); 
        }
    }

    .indiUserInfoBottom{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;

        @include media('>phone', '<=mobile'){
            gap: 10px;
            margin-top: 10px;
            
    
        }
        @include media('>smphone', '<=phone'){
            gap: 10px;
            margin-top: 10px;
            
        }
        .userName,.userEmail,.userPhone{
            display: flex;
            gap: 30px;
            align-items: center;
            // justify-content: space-between;
            h4{
                font-size: 18px;
                font-weight: 600;
                color: var(--main-color);
                @include media('>phone', '<=mobile'){
                    font-size: 14px;
                    
            
                }
                @include media('>smphone', '<=phone'){
                    font-size: 12px;
                    
                }
            }

            span{
                padding: 0 10px;
                border-bottom: 1px solid var(--un-color);
                color: var(--hover-color);
                font-size: 18px;
                font-weight: 500;
                @include media('>phone', '<=mobile'){
                    font-size: 14px;
                    
            
                }
                @include media('>smphone', '<=phone'){
                    font-size: 14px;
                    
                }
                // border-radius: 10px;
            }
        }
    }
}