/**
*
* Testing
*
**/
.orderContainer .orderWrapper {
  border: 1px solid var(--un-color);
  margin: 30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 10px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper {
    margin: 10px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper {
    margin: 10px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper {
    margin: 10px;
  }
}
.orderContainer .orderWrapper .orderHr {
  margin: 10px 0;
}
.orderContainer .orderWrapper .heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .heading {
    justify-content: space-between;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .heading {
    justify-content: space-between;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .heading {
    justify-content: space-between;
  }
}
.orderContainer .orderWrapper .heading h1 {
  font-weight: 500;
  color: var(--hover-color);
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .heading h1 {
    font-size: 20px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .heading h1 {
    font-size: 20px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .heading h1 {
    font-size: 20px;
  }
}
.orderContainer .orderWrapper .heading .orderSearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 40px;
  border: 1px solid var(--un-color);
  border-radius: 20px;
  padding: 5px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .heading .orderSearchBar {
    width: 250px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .heading .orderSearchBar {
    width: 250px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .heading .orderSearchBar {
    width: 250px;
  }
}
.orderContainer .orderWrapper .heading .orderSearchBar input {
  border: none;
  outline: none;
  width: 200px;
  height: 100%;
  padding: 0 10px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .heading .orderSearchBar input {
    width: 150px;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .heading .orderSearchBar input {
    width: 150px;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .heading .orderSearchBar input {
    width: 150px;
  }
}
.orderContainer .orderWrapper .heading .orderSearchBar button {
  border: 1px solid var(--un-color);
  outline: none;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--un-color);
  cursor: pointer;
  color: var(--hover-color);
  transition: all 0.3s ease;
}
.orderContainer .orderWrapper .heading .orderSearchBar button:hover {
  background-color: var(--hover-color);
  color: var(--un-color);
}
.orderContainer .orderWrapper .ordersContent {
  display: flex;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .ordersContent {
    flex-direction: column;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .ordersContent {
    flex-direction: column;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .ordersContent {
    flex-direction: column;
  }
}
.orderContainer .orderWrapper .ordersContent .leftSiderToggleBtn {
  display: none;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .ordersContent .leftSiderToggleBtn {
    display: block;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .ordersContent .leftSiderToggleBtn {
    display: block;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .ordersContent .leftSiderToggleBtn {
    display: block;
  }
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide {
  flex: 2;
  border-right: 1px solid var(--un-color);
  margin-right: 5px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .orderContainer .orderWrapper .ordersContent .ordersLeftSide {
    display: none;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .orderContainer .orderWrapper .ordersContent .ordersLeftSide {
    display: none;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .orderContainer .orderWrapper .ordersContent .ordersLeftSide {
    display: none;
  }
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide .leftSideHeading {
  padding: 20px;
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide .leftSideHeading h3 {
  font-weight: 600;
  color: var(--hover-color);
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide ul .active {
  background-color: var(--hover-color);
  color: var(--un-color);
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide ul li {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
  color: var(--hover-color);
  transition: all 0.3s ease;
  border-bottom: 1px solid var(--un-color);
}
.orderContainer .orderWrapper .ordersContent .ordersLeftSide ul li:hover {
  background-color: var(--hover-color);
  color: var(--un-color);
}
.orderContainer .orderWrapper .ordersContent .ordersRightSide {
  flex: 10;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=orders.css.map */