@import "../../../breakpoints.scss";

.orderContainer{
    .orderWrapper{
        border: 1px solid var(--un-color);
        margin: 30px;
        // padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        border-radius: 10px;

        @include media('>phone', '<=mobile'){

            margin: 10px;
        }
        @include media('>smphone', '<=phone'){
                margin: 10px;
        }
        @include media('>mobile', '<=largemb'){
            margin: 10px;
        }
        .orderHr{
            margin: 10px 0;
        }
        .heading{
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            @include media('>phone', '<=mobile'){

                justify-content: space-between;
            }
            @include media('>smphone', '<=phone'){
                    justify-content: space-between;
            }
            @include media('>mobile', '<=largemb'){
                justify-content: space-between;
            }
            h1{
                font-weight: 500;
                color: var(--hover-color);
                @include media('>phone', '<=mobile'){

                    font-size: 20px;
                }
                @include media('>smphone', '<=phone'){
                        font-size: 20px;
                }
                @include media('>mobile', '<=largemb'){
                    font-size: 20px;
                }
            }

            .orderSearchBar{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 400px;
                height: 40px;
                border: 1px solid var(--un-color);
                border-radius: 20px;
                padding: 5px;

                @include media('>phone', '<=mobile'){

                    width: 250px;
                }
                @include media('>smphone', '<=phone'){
                        width: 250px;
                }
                @include media('>mobile', '<=largemb'){
                    width: 250px;
                }
                input{
                    border: none;
                    outline: none;
                    width: 200px;
                    height: 100%;
                    padding: 0 10px;
                    @include media('>phone', '<=mobile'){

                        width: 150px;
                    }
                    @include media('>smphone', '<=phone'){
                            width: 150px;
                    }
                    @include media('>mobile', '<=largemb'){
                        width: 150px;
                    }
                }
                button{
                    border: 1px solid var(--un-color);
                    outline: none;
                    padding: 5px 20px;
                    border-radius: 20px;
                    background-color: var(--un-color);
                    cursor: pointer;
                    color: var(--hover-color);
                    transition: all 0.3s ease;
                    &:hover{
                        background-color: var(--hover-color);
                        color: var(--un-color);
                    }
                }
            }
        }
        
        .ordersContent{
            display: flex; 
            @include media('>phone', '<=mobile'){

                flex-direction: column;
            }
            @include media('>smphone', '<=phone'){
                    flex-direction: column;
            }
            @include media('>mobile', '<=largemb'){
                flex-direction: column;
            }

            .leftSiderToggleBtn{
                display: none;

                @include media('>phone', '<=mobile'){

                    display: block;
                }
                @include media('>smphone', '<=phone'){
                        display: block;
                }
                @include media('>mobile', '<=largemb'){
                    display: block;
                }
            }
    
            .ordersLeftSide{
                flex: 2;
                border-right: 1px solid var(--un-color);
                margin-right: 5px;

                @include media('>phone', '<=mobile'){

                    display: none;
                }
                @include media('>smphone', '<=phone'){
                        display: none;
                }
                @include media('>mobile', '<=largemb'){
                    display: none;
                }
                .leftSideHeading{
                    padding: 20px;
                    h3{
                        font-weight: 600;
                        color: var(--hover-color);
                    }
                }

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    // align-items: center;
                    gap: 10px;
                    padding: 20px;

                    .active{
                        background-color: var(--hover-color);
                        color: var(--un-color);
                    }
                    li{
                        padding: 10px;
                        border-radius: 10px;
                        cursor: pointer;
                        font-weight: 500;
                        color: var(--hover-color);
                        transition: all 0.3s ease;
                        border-bottom: 1px solid var(--un-color);
                        &:hover{
                            background-color: var(--hover-color);
                            color: var(--un-color);
                        }
                    }
                }
            }
            .ordersRightSide{
                flex: 10;
                margin-top: 5px;
                display: flex;
                flex-direction: column;
                // gap: px;

            }
        }
    }
}