/**
*
* Testing
*
**/
.indiOrderCard {
  border: 1px solid var(--un-color);
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard {
    width: unset;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard {
    width: unset;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard {
    width: unset;
  }
}
.indiOrderCard .cardTop {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard .cardTop {
    flex-direction: column;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard .cardTop {
    flex-direction: column;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard .cardTop {
    flex-direction: column;
  }
}
.indiOrderCard .cardTop .cardTopLeft {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 60%;
  border-right: 1px solid var(--un-color);
  margin-right: 30px;
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard .cardTop .cardTopLeft {
    flex-direction: column;
    width: unset;
    border-right: none;
    margin-right: 0;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard .cardTop .cardTopLeft {
    flex-direction: column;
    width: unset;
    border-right: none;
    margin-right: 0;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard .cardTop .cardTopLeft {
    flex-direction: column;
    width: unset;
    border-right: none;
    margin-right: 0;
  }
}
.indiOrderCard .cardTop .cardTopLeft img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
  cursor: pointer;
}
.indiOrderCard .cardTop .cardTopLeft h4 {
  font-weight: 600;
  color: var(--hover-color);
  cursor: pointer;
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard .cardTop .cardTopLeft h4 {
    text-align: center;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard .cardTop .cardTopLeft h4 {
    text-align: center;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard .cardTop .cardTopLeft h4 {
    text-align: center;
  }
}
.indiOrderCard .cardTop .cardTopRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard .cardTop .cardTopRight {
    width: unset;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard .cardTop .cardTopRight {
    width: unset;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard .cardTop .cardTopRight {
    width: unset;
  }
}
.indiOrderCard .cardTop .cardTopRight .orderDetailsSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: var(--main-color);
  font-weight: 500;
  border-bottom: 1px solid var(--un-color);
}
.indiOrderCard .cardTop .cardTopRight .orderDetailsSpan span {
  font-weight: 500;
  color: var(--hover-color);
}
.indiOrderCard .cardTop .cardTopRight .orderDetailsSpan .orderPriceSpan {
  font-size: 18px;
  font-weight: 700;
}
.indiOrderCard .cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-bottom: 10px;
  color: var(--main-color);
  font-weight: 500;
  border-top: 1px solid var(--un-color);
}
@media (min-width: 371px) and (max-width: 460px) {
  .indiOrderCard .cardBottom {
    flex-direction: column;
    gap: 10px;
    align-items: unset;
  }
}
@media (min-width: 301px) and (max-width: 370px) {
  .indiOrderCard .cardBottom {
    flex-direction: column;
    gap: 10px;
    align-items: unset;
  }
}
@media (min-width: 461px) and (max-width: 560px) {
  .indiOrderCard .cardBottom {
    flex-direction: column;
    gap: 10px;
    align-items: unset;
  }
}
.indiOrderCard .cardBottom button {
  border: 1px solid var(--un-color);
  outline: none;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: var(--un-color);
  cursor: pointer;
  color: var(--hover-color);
  transition: all 0.3s ease;
}
.indiOrderCard .cardBottom button:hover {
  background-color: var(--hover-color);
  color: var(--un-color);
}
.indiOrderCard .cardBottom .cancelOrder:hover {
  background-color: red;
  color: white;
}/*# sourceMappingURL=orderCard.css.map */